html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {
	margin: 0;
	padding: 0;
}
img,fieldset {
	border: none;
}
ul,ol {
	list-style: none;
}
label {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,code,em,strong,th,abbr {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}
caption,th {
	text-align: left;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
** FUNCTIONAL
*/
.clear {
	clear: both;
}
.clearer {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 1px;
	font-size: 1px;
}
img {
	behavior: url(../scripts/lib/iepngfix.htc);
}

/*
** LAYOUT
*/

#container {
	background: #fff url(../images/main_bg_20070928.png) repeat-x top left;
	width: 944px;
	margin: 0 auto;
	padding: 50px 30px 100px;
	position: relative;
}
#main {
	position: relative;
	width: 100%;
}

p.last, ul.last, ol.last, li.last {
	_width: auto !important;
	_float: none !important;
}

#container:after, #globalheader:after, #globalfooter:after, #promos:after, .indenter:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#container, #globalheader, #globalfooter, #promos {
	_zoom: 1;
}

/*
** GLOBALHEADER & NAVIGATION
*/

#globalheader {
	background: #ffffff url(../images/header_bg_20080811.png) repeat-x top left;
/*	background: #ffffff  repeat-x bottom left;*/
	margin: 0px auto;
	position: relative;
	height: 165px;
	width: 1004px;
	z-index: 9998;
}
#globalheader h1,
#globalheader h2 {
	position: absolute;
	left: 30px;
	height: 50px;
	top: 60px;
	width: 215px;
}
/*#globalheader h2 {
	height: 29px;
	top: 93px;
	display:none;
}
*/
#globalheader h1 a,
#globalheader h2 a {
	background: #fff url(../images/header_logo_20080725.png) no-repeat;
	behavior: url(../scripts/lib/iepngfix.htc);
	display: block;
	height: 80px;
	outline: none;
	overflow: hidden;
	text-decoration: none;
	text-indent: -9999px;
	width: 500px;
}
/*#globalheader h2 a {
	background: #007341 url(../elements/base/header_slogan_20070928.png) no-repeat 0 100%;
	display: none;
	height: 24px;
	width: 215px;
}
*/
#globalheader ul {
	bottom: 30px;
	display: block;
	float: right;
	font-size: 18px;
	margin: 0pt;
	padding: 0pt;
	position: absolute;
	right: 30px;
}
#globalheader ul li {
	color: #fff;
	background: #fff
	display: inline;
	padding: 0 11px 0 10px !important;
	margin: 0;
/*	background: #fff url(../elements/base/header_divider_20070928.png) no-repeat scroll right center;*/
	float: left;
}
#globalheader ul li.first {
	padding-left: 0;
}
#globalheader ul li.last {
	padding-right: 0;
	background-image: none;
}

#globalheader ul a {
	color: #067341;
	font-size: 15px;
}

#index #globalheader #globalnav-home a,
#about #globalheader #globalnav-about a,
#events #globalheader #globalnav-events a,
#media #globalheader #globalnav-media a,
#careers #globalheader #globalnav-careers a,
#solutions #globalheader #globalnav-solutions a,
#contact #globalheader #globalnav-contact a {
	color: #7ab033;
}

/* CONTENT */
#index #content {
/*	background: transparent url('../../home/images/index_maintext_20071026.png') no-repeat top left;
	height: 277px;
	padding-bottom: 42px;
	text-indent: -9999px;
	overflow: hidden;
	behavior: url(../scripts/lib/iepngfix.htc);
*/
}

#about #main h4,
#events #main h4,
#media #main h4,
#careers #main h4,
#solutions #main h4,
#code404 #main h4,
#privacy #main h4,
#contact #main h4 {
	color: #007341;
}
#about #main p,
#events #main p,
#media #main p,
#contact #main p,
#solutions #main p,
#careers #main p,
#about #main h5,
#contact #main h5,
#privacy #main h5,
#privacy #main p,
#privacy #main ul,
#privacy #main ol,
#contact #main ul,
#about #main ul {
	font-size: 16px;
	line-height: 18px;
}
#events #main p,
#media #main p,
#contact #main p {
	margin: 0;
}
#contact #main h5,
#media #main h5,
#events #main h5 {
	color: #222;
}

#contact #main .last {
	margin-bottom: 18px;
}
#contact #main ul {
	margin-bottom: 18px;
}
#about #main ul {
	margin-bottom: 28px;
}
#contact #map {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
	width: 450px;
	height: 375px;
	float: right;
}
#contact #map h3 {
	color: #007341;
	font-size: 18px;
	line-height: 18px;
	margin: 20px 0 0 0;
}
#contact #map img {
	/* blanket img behavior makes ie perform unexpectedly */
	behavior: none;
}
#index p em {
	color: #067341;
	font-weight: bold;
}
p.intro {
	color: #566068;
}

#careers .column {
	color: #7ab033;
	line-height: 36px;
	width: 345px;
	border: 0px solid red;
	margin-bottom: 28px;
}
#careers .column.col1 {
	float: left;
	margin-right: 30px;
}
#careers .column.col2 {
	float: left;
	width: 345px;
}

/* Media Page */
#media .event,
#events .event {
	margin-bottom: 38px;
/*	width: 50%; 
	float: left;*/

}
#media div.event.last,
#events div.event.last {
/*	width: 45%; */
	margin-bottom: 0;
}
#media #main div.event p.time ,
#events #main div.event p.time {
	font-size: 16px;
}
#media #main h2,
#events #main h2 {
	background-color: transparent;
	/* original, better color that doesn't look good on EAH's monitor: #7ab033; */
	color: #008852;
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 16px;
	text-align: center;
}

#media #main div.event h3,
#events #main div.event h3 {
	width: 100%;
	float: left;
}
#media #main div.event h4,
#events #main div.event h4 {
	margin-bottom: 8px;
}

#media #main div.event h5,
#events #main div.event h5 {
	color: #6a747c;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}
#media #main div.event .session,
#events #main div.event .session {
	margin-bottom: 18px;
}
#media #main div.event .adr,
#events #main div.event .adr {
	margin-bottom: 18px;
}
#media #main div.event a.learnmore,
#events #main div.event a.learnmore {
	padding-right: 8px;
	font-size: 16px;
	color: #007341;
	background: transparent url(../images/main_arrow_darkgreen_20070928.png) no-repeat right center;
	padding-right: 8px;
}
/*
** ABOUT
*/
body#about div.full {
	margin: 0 -30px 28px;
	position: relative;
	width: 780px;
}




/* PROMOS */
#promos {
	background: transparent url(../images/main_columns_bg_top_20080801.png) no-repeat top center;
	color: #566068;
	width: 966px;
	position: relative;
	margin-left: -11px;
	margin-right: -11px;
}
#promos p {
	margin-bottom: 18px;
}
#promos ul {
	margin-bottom:36px;
}
#promos p, #promos a, #promos h5, #promos span, #promos li {
	font-size: 14px;
	line-height: 18px;
}
#promos li {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:18px;
}
#promos p.dtstamp {
	margin-bottom: 0;
}

#promos .box {
	position: relative;
	margin: 0 8px;
	padding: 23px 11px 16px;
	width: 293px;
	float: left;
}
#promos .box.first, #promos .box.last {
	margin: 0;
}
* html #promos #box-about {
	display: inline;
}
#promos h4 {
/*	background: transparent url('../../home/images/index_promotext_about_20070928.png') no-repeat top left;
	text-indent: -9999px;
	overflow: hidden;*/
	margin-bottom: 7px;
	width: 280px;
	color: #067341;
	font-weight: bold;
/*	behavior: url(../scripts/lib/iepngfix.htc);*/
}

/*#promos #box-about h4 {
	background-image: url('../../home/images/index_promotext_about_20071025.png');
	behavior: url(../scripts/lib/iepngfix.htc);
}
*/
/*#promos #box-media h4 {
	background-image: url('../../home/images/index_promotext_media_20080212.png');
	behavior: url(../scripts/lib/iepngfix.htc);
}
*/
/*#promos #box-careers h4 {
	background-image: url('../../home/images/index_promotext_careers_20070928.png');
	behavior: url(../scripts/lib/iepngfix.htc);
}
*/
#promos #box-careers a.learnmore {
	color: #6a747c;
	background: transparent url('../images/main_arrow_gray_20070928.png') no-repeat center right;
	padding-right: 8px;
}
#promos #box-about a.learnmore {
	color: #7ab033;
	background: transparent url('../images/main_arrow_lightgreen_20070928.png') no-repeat center right;
	padding-right: 8px;
}
#promos #box-media a.learnmore {
	color: #007341;
	background: transparent url('../images/main_arrow_darkgreen_20070928.png') no-repeat center right;
	padding-right: 8px;
}
#promos .clearer {
	background: #fff url('../images/main_columns_bg_bottom_20080801.png') no-repeat bottom center;
	height: 6px;
	behavior: url(../scripts/lib/iepngfix.htc);
}

/*
** PRIVACY POLICY
*/
#privacy #toc {
	display:block;
	float:right;
	margin: 0 0 28px 56px;
}
#privacy #toc h4 { margin-bottom:12px; }
#privacy ol {
	list-style-type: upper-roman;
}
#privacy #toc ol {
font-size: 12px;
line-height: 18px;
	list-style-type: upper-roman;
	list-style-position: outside;
}
#privacy #main #toc ol li {
	font-size: 12px;
	line-height: 18px;
	position: relative;
	list-style-position: outside;
}
#privacy #toc ol li a {
}
#privacy #main ol li {
	list-style-position: inside;
	font-size: 18px;
	line-height: 24px;
	position: relative;
}
#privacy #main ul {
	margin-top: 14px;
}
#privacy #main  ul li {
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 28px;
	margin-left: 24px;
	padding-left: 0px;
}
#privacy #main  li h4 { display: inline;}
#privacy #main  li h5 { font-weight: bold; }
#privacy #main  ol ul li {
	font-size: 12px;
	line-height: 18px;
}
#privacy #main  li p {
	margin-top: 14px !important;
}
#privacy .indenter {
	display: inline;
	padding-left: 20px;
}

/*
** TYPOGRAPHY
*/
body {
	background-image: url('../images/bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin:0px;
	color: #6a747c;
	font: 18px/24px "Whitney-Medium","DejaVu Sans Condensed","Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

a {
	color: #007341;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.pdf { background: url(../images/globaliconpdf12x12.gif) 0 0.1em no-repeat; padding-left: 20px; }
a.html { background: url(../images/globaliconhtml12x12.gif) 0 0.1em no-repeat; padding-left: 20px; }
a.audio { background: url(../images/globaliconaudio12x12.gif) 0 0.1em no-repeat; padding-left: 20px; }


h3 {
	background-color: transparent;
	/* original, better color that doesn't look good on EAH's monitor: #7ab033; */
	color: #008852;
	font-size: 27px;
	font-weight: bold;
	margin-bottom: 16px;
}

p {
	margin-bottom: 28px;
}
p.last, li.last {
	margin-bottom: 0px;
}
p.right {
	text-align: right;
}

.gmapinfowindow {
	font-size: 10px;
	line-height: 10px;
	margin: 0;
}
/*
** GLOBALFOOTER & LEGAL/PRIVACY
*/

#globalfooter {
	/* original background: #067341 url(../elements/base/footer_bg_20070928.png) repeat-x left top; */
	background: #008852 url(../images/footer_bg_20080811.png) repeat-x left top;
	color: #ccc;
	font-size: 10px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left !important;
	width: 1004px;
}
#globalfooter #globalfooter-copyright {
	float: left;
	width: 60%;
}
#globalfooter #globalfooter-privacystatement {
	float: right;
	text-align: right;
}
#globalfooter #globalfooter-privacystatement a {
	padding: 0 0px;
	white-space: nowrap;
}
#globalfooter #globalfooter-privacystatement a.last {
	padding-right: 0;
}
#globalfooter a {
	color: #fff;
}
#globalfooter p {
	margin-bottom: 0;
	padding: 16px 30px 11px;
}
#globalfooter .clearer {
	background: #EEE url('../images/body_bottom_20080811.png') no-repeat bottom center;
	height: 5px;
	behavior: url(../scripts/lib/iepngfix.htc);
}

/*
** PRINT
*/
@media print {
	body,#main {
		color: #000 !important;
	}
	a,a:link,a:visited {
		color: #000 !important;
		text-decoration: none !important;
	}
	.noprint,.hide {
		display: none !important;
	}
	/* hide things from printing */
}
